.nav {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    text-shadow: 1px 1px 4px;
}

.nav-text {
    font:caption;
    font-weight: bold;
}

.foot-text {
    text-align: center;
    text-shadow: 1px 1px 4px;
    font-weight: bolder;
}

.flexi{
    display: flex;
    flex-direction: row-reverse;
}

.flexi .content1 {
    padding-right: 12rem;
    padding-left: 1rem;
}

.container {
    border: 1px solid;
    padding-bottom: 1rem;
    background-color: #1abc9c;
}

.flex-container {
    display: flex;
}
.flex-container .one {
    width: 20%;
    border: 1px solid;
    padding-bottom: 25rem;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.flex-container .two {
    width: 80%;
    border: 1px solid;
    padding-bottom: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foot {
    border: 1px solid;
}

.drugs {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid;
    cursor: pointer;
    background-color: tan;
}   

.drugs:hover {
    transform: scale(1.15,1.15);
}

.flex-container .two .drag {
    width: 50%;
    height: 100%;
}

.flex-container .two .drop {
    width: 50%;
    height: 100%;
}

.text {
    text-align: center;
    font-weight: 700;
}

.animate {
    text-align: center;
}

.effects:hover {
    transform: scale(1.15,1.15);
    color: chocolate;
}

.fonts {
    font-style: italic;
    font-weight: 600;
    font-stretch: wider;
    text-shadow: 2px 2px 5px;
}

.fonts:hover {
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  .contact-header {
    padding: 2px;
    text-align: center;
    background: #1abc9c;
    border-style: dashed;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
  }

  .information {
      padding: 4px;
      font-weight: bold;
  }